.header{
  padding: 20px 0 0; 
  display:flex;
  flex-flow: column wrap;
  justify-content:center;
  align-items:center;
}

.header h1{
  margin-bottom: 5%;
}

.header span{
  color:tomato;
}

.header input{
  width: 300px;
  height:40px;
  padding:10px;
  border:0;
  background-color: #777;
  border-radius:15px;
  outline: 0;
  margin-bottom: 2%;
}

.header button{
  padding: 10px 20px;
  background-color: #999;
  color:white;
  text-transform: uppercase;
  border: 0;
  border-radius:10px;
  margin-bottom: 2%;
  cursor: pointer;
  outline: 0;
}
.header button:hover{
  box-shadow:2px 2px 2px #999
}

.main {
  min-height: 54.5vh;
}

.main ul{
  display:flex;
  flex-flow: row wrap;
  list-style-type: none;
  padding:20px;
}

.main li{
  width:18%;
  text-align:center;
  border:1px solid #555;
  background-color: #333;
  color:white;
  margin-right: 20px;
  margin-bottom: 20px;
}

.main a{
  width:100%;
  display:flex;
  flex-flow:column wrap;
  margin-right: 20px;
}

.main img{
  width: 100%;
  margin-bottom: 5%;
}

.busca{
  display:flex;
  justify-content:center;
  margin-bottom: 5%;
  font-size:1.5em;
}

.footer{
  display:flex;
  flex-flow: column wrap;
  justify-content:center;
  align-items: center;
  padding:20px;
  background-color: tomato;
  text-transform: uppercase;
  color:white;
}